<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Books</title>

  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
</head>
<body>
  <div class="container" id="app">
    <div class="row">
      <h1><a href="/">Books</a></h1>
      <div class="well">
        <input type="search" class="form-control" name="" id="" v-model="mySearch" placeholder="Search">
      </div>
    </div>

    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th><i class="fa fa-fw fa-sort" v-bind:class="{'fa-sort-amount-asc': orderCol === 'id' && orderInverse === 1, 'fa-sort-amount-desc': orderCol === 'id' && orderInverse === -1}" ></i><a href="#" v-on:click="filterOrderBy($event,'id')">Id</a></th>
            <th><i class="fa fa-fw fa-sort" v-bind:class="{'fa-sort-amount-asc': orderCol === 'title' && orderInverse === 1, 'fa-sort-amount-desc': orderCol === 'title' && orderInverse === -1}" ></i><a href="#" v-on:click="filterOrderBy($event,'title')">Title</a></th>
            <th><i class="fa fa-fw fa-sort" v-bind:class="{'fa-sort-amount-asc': orderCol === 'value' && orderInverse === 1, 'fa-sort-amount-desc': orderCol === 'value' && orderInverse === -1}" ></i><a href="#" v-on:click="filterOrderBy($event,'value')">Value</a></th>
            <th><i class="fa fa-fw fa-sort" v-bind:class="{'fa-sort-amount-asc': orderCol === 'description' && orderInverse === 1, 'fa-sort-amount-desc': orderCol === 'description' && orderInverse === -1}" ></i><a href="#" v-on:click="filterOrderBy($event,'description')">Description</a></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in books | filterBy mySearch 'title' 'description' | orderBy orderCol orderInverse ">
            <th>{{ book.id }}</th>
            <th>{{ book.title | uppercase }}</th>
            <th>{{ book.value | currency 'R$' }}</th>
            <th>{{ book.description }}</th>
          </tr>
        </tbody>
      </table>
      <nav class="text-center" aria-label="Page navigation">
        <ul class="pagination">
          <li v-bind:class="{ 'disabled': pagination.current === 1 }">
            <a href="#" @click="previous" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li v-for="page in pagination.listPagination" v-bind:class="{ 'active': pagination.current === $index +1 }">
            <a href="#" @click="pagePagination($event,$index)">{{ $index + 1 }}</a>
          </li>
          <li v-bind:class="{ 'disabled': pagination.current === pagination.totalPages }">
            <a href="#" @click="next" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>



  </div>


  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
